
.searchimg {
  left: 85.5%;
  top: 64.7%;
  background-color: #ffffff;
  width: 45px;
  height: 45px;
}

.searchtext {
  padding: 0;
  width: 88%;
  height: 60px;
  background: #fffbfb;
  border-radius: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.propic {
  padding: 0;
  width: 80px;
  height: 80px;
}

.tagselection {
  margin: 15px 15px 15px;
  padding: auto;
  width: 90%;
  align-items: left;
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  height: auto;
  border-radius: 20px;
  outline: none;
}

.cards {
  margin-bottom: 20%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 20px;
}
