.body {
  background-color: #ccf2e2;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Kaushan Script", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: relative;
  color: white;
  max-width: 100%;
}

.ct1 {
  position: absolute;
  top: 10%;
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 70px;
  color: white;
}

.ct2 {
  position: absolute;
  top: 30%;
  font-family: "Rozha One";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 57px;
  color: white;
}

.arrow {
  position: relative;
  margin: 35px 15px 15px 25px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .arrow{
    width: 25px;
  }
}

.homeheadings {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .homeheadings {
    font-size: 27px;
  }
}

.headtext {
  font-family: "Inter";
  font-weight: 400;
  font-size: 25px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .headtext {
    font-size: 1rem;
  }
}
.sendb {
  margin: 15px auto;
  margin-left: 15px;
  background: #000000;
  border-radius: 15px;
  width: 140px;
  height: 50px;
  align-items: center;
  text-align: center;
}

.sendt {
  margin: auto;
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}

.textbox {
  margin: 15px 10px 10px 15px;
  background: #fffbfb;
  border-radius: 15px;
  width: 80%;
  height: 60px;
}

/* *{
  border: 1px solid red;
} */
