.image-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Adjust the height as needed */
    overflow: hidden;
  }
  
  .carousel-image {
    position: absolute;
    opacity: 0;
    transform: translateY(2%) scale(0.95);
  }
  
  @keyframes cardanimation {
    0% {
      opacity: 0;
      transform: translateY(2%) scale(0.95);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  
  .carousel-image.active {
    animation: cardanimation 0.4s ease-in-out;
  }
  
  
  