body {
  background-color: #ccf2e2;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Kaushan Script", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navsignedin {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 2;
}

.topLeft {
  text-align: left;
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  cursor: pointer;
  justify-content: center;
  color: #000000;
}

.navsignedin a{
  color: #000000;
  text-decoration: unset;
}

.toplist {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topli {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
  cursor: pointer;
  margin: 0.5rem;
  font-size: 1.1rem;
}

.navbar-collapse .navbar-nav {
  padding-top: 20px;
}

.navhr{
  height: 2px;
  margin: 1rem 0.5rem;
  background: #00000075;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

.navbar-collapse{
  background-color: white;
  left: 0;
  right: 0;
}

.navbar-toggler:focus {
  box-shadow: unset;
}


